= form_for @wheat, html: { class: "form-horizontal", role: "form" } do |f|
  -if @wheat.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@wheat.errors.count, "error")} prohibited this wheat from being saved:"

      %ul
        - @wheat.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :user, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :user, class: 'form-control'
  .form-group
    = f.label :x, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :x, class: 'form-control'
  .form-group
    = f.label :y, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :y, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
