.page-header
  = link_to new_wheat_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Wheat
  %h1 Listing wheats

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th X
        %th Y
        %th
        %th
        %th

    %tbody
      - @wheats.each do |wheat|
        %tr
          %td= wheat.user
          %td= wheat.x
          %td= wheat.y
          %td= link_to 'Show', wheat
          %td= link_to 'Edit', edit_wheat_path(wheat)
          %td= link_to 'Destroy', wheat, data: { confirm: 'Are you sure?' }, method: :delete
