.page-header
  %h1 Your wheats are growing!

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - (1..10).each do |x|
        %tr
        - (1..10).each do |y|
          %td
            - @wheat = Wheat.find_by(x: x, y: y)
            -if current_user.wheats.include?(@wheat)
              = link_to  @wheat, :method => :delete do
                %span.glyphicon.glyphicon-grain
            -else
              = form_for :wheat, url: { action: "create" } do |f|
                = f.hidden_field :x, value: x
                = f.hidden_field :y, value: y
                = f.submit '', class: 'glyphicon'
