.page-header
  = link_to wheats_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_wheat_path(@wheat), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show wheat

%dl.dl-horizontal
  %dt User:
  %dd= @wheat.user
  %dt X:
  %dd= @wheat.x
  %dt Y:
  %dd= @wheat.y
